{
    "swagger": "2.0",
    "info": {
        "title": "Easyac API",
        "description": "Make Requests to Portal do Aluno SenacRS",
        "version": "1.0.0"
    },
    "host": "api.easyac.xyz",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "api_key"
        }
    },
    "produces": [
        "application/json"
    ],
    "paths": {
        "/login": {
            "post": {
                "summary": "Autenticação do aluno",
                "description": "Autentica o aluno no portal do aluno SENACRS e retorna o token autenticado.\n",
                "parameters": [
                    {
                        "name": "aluno",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Aluno"
                        }
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "Aluno Autenticado",
                        "schema": {
                            "$ref": "#/definitions/AlunoToken"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/faltas": {
            "get": {
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "summary": "Faltas do aluno",
                "description": "Retorna todas as faltas do aluno autenticado.\n",
                "parameters": [
                    {
                        "name": "ano",
                        "in": "query",
                        "description": "Ano da falta.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "semestre",
                        "in": "query",
                        "description": "Semestre da falta",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "tags": [
                    "Dados Aluno"
                ],
                "responses": {
                    "200": {
                        "description": "Um array de Faltas",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Falta"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Faltas Not Found"
                    }
                }
            }
        },
        "/notas": {
            "get": {
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "summary": "Notas do aluno",
                "description": "Retorna todas as notas do aluno autenticado.\n",
                "parameters": [
                    {
                        "name": "ano",
                        "in": "query",
                        "description": "Ano da nota.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "semestre",
                        "in": "query",
                        "description": "Semestre da nota",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "tags": [
                    "Dados Aluno"
                ],
                "responses": {
                    "200": {
                        "description": "Um array de Notas",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Nota"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Notas Not Found"
                    }
                }
            }
        }
    },
    "definitions": {
        "AlunoToken": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                }
            }
        },
        "Aluno": {
            "type": "object",
            "properties": {
                "unidade": {
                    "type": "integer"
                },
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "Falta": {
            "type": "object",
            "properties": {
                "cursoId": {
                    "type": "string"
                },
                "ano": {
                    "type": "integer"
                },
                "semestre": {
                    "type": "integer"
                },
                "disciplina": {
                    "type": "string"
                },
                "faltas": {
                    "type": "integer"
                }
            }
        },
        "Nota": {
            "type": "object",
            "properties": {
                "cursoId": {
                    "type": "string"
                },
                "ano": {
                    "type": "integer"
                },
                "semestre": {
                    "type": "integer"
                },
                "disciplina": {
                    "type": "string"
                },
                "conceito": {
                    "type": "string"
                },
                "parciais": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Parciais"
                    }
                }
            }
        },
        "Parciais": {
            "type": "object",
            "properties": {
                "descricao": {
                    "type": "string"
                },
                "ordemParcial": {
                    "type": "integer"
                },
                "valorAvaliacaoParcial": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}