{
    "swagger": "2.0",
    "info": {
        "title": "Easyac API",
        "description": "Navegue nos seus dados do Portal do Aluno SenacRS através de uma API Web. \n\nAs chamadas são feitas para a url https://api.easyac.xyz. Sendo, todas elas, trafegadas em HTTPS.\n\nEm nenhum momento as informações de login do aluno são persistidas em banco de dados. Para saber mais sobre o projeto acesse https://github.com/easyac/crawler.\n",
        "version": "1.0.0",
        "contact": {
            "name": "Ícaro Heimig",
            "email": "icaro.mh@gmail.com"
        }
    },
    "host": "api.easyac.xyz",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "api_key"
        }
    },
    "produces": [
        "application/json"
    ],
    "paths": {
        "/login": {
            "post": {
                "summary": "Autenticar aluno",
                "description": "A partir das credenciais de acesso de uma aluno, autentica ele na API e retorna o token para ser utilizado nas requisições seguintes, autenticando-as.\n\nPara utilizar o token gerado, insira ele no campo Token no topo da página e clique em \"explore\"\n",
                "parameters": [
                    {
                        "name": "aluno",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Aluno"
                        }
                    }
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/AlunoToken"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/faltas": {
            "get": {
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "summary": "Listar faltas",
                "description": "Retorna todas as faltas do aluno autenticado, pode-se filtrar por ano e semestre.\n",
                "parameters": [
                    {
                        "name": "ano",
                        "in": "query",
                        "description": "Ano letivo",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "semestre",
                        "in": "query",
                        "description": "Semestre letivo",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2
                        ]
                    }
                ],
                "tags": [
                    "Dados Aluno"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Falta"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Faltas Not Found"
                    }
                }
            }
        },
        "/notas": {
            "get": {
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "summary": "Listar notas",
                "description": "Retorna todas as notas do aluno autenticado, pode-se filtrar por ano e semestre.\n",
                "parameters": [
                    {
                        "name": "ano",
                        "in": "query",
                        "description": "Ano letivo",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "semestre",
                        "in": "query",
                        "description": "Semestre letivo",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2
                        ]
                    }
                ],
                "tags": [
                    "Dados Aluno"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Nota"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Notas Not Found"
                    }
                }
            }
        },
        "/scrap/notas": {
            "get": {
                "summary": "Atualizar notas do aluno no banco de dados",
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "description": "Atualiza as informações no banco de dados referentes a nota do aluno autenticado. Esse processo pode demorar alguns segundos.\n",
                "tags": [
                    "Scrap"
                ],
                "responses": {
                    "200": {
                        "description": "Dados atualizados"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/scrap/faltas": {
            "get": {
                "summary": "Atualiza as faltas do aluno no banco de dados",
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "description": "Atualiza as informações no banco de dados referentes a faltas do aluno autenticado. Esse processo pode demorar alguns segundos.\n",
                "tags": [
                    "Scrap"
                ],
                "responses": {
                    "200": {
                        "description": "Dados atualizados"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        }
    },
    "definitions": {
        "AlunoToken": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                }
            },
            "example": {
                "token": "eyJhcGciUiJIUfI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IjYxMTQyMDM3OCIsImlkIjoiNTdmMDNmOTMwZDg3NjcwMDEzOWJiY2NmIiwiaWF0IjoxNDc3NzkzMTk4fQ.ewbwafBHXxo4sdgRAfVcitBAdzViD7E4f8xTvRZbk7p4"
            }
        },
        "Aluno": {
            "type": "object",
            "properties": {
                "unidade": {
                    "type": "integer"
                },
                "username": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            },
            "example": {
                "unidade": 63,
                "usernane": "631420378",
                "password": "tuasenha"
            }
        },
        "Falta": {
            "type": "object",
            "properties": {
                "cursoId": {
                    "type": "string"
                },
                "ano": {
                    "type": "integer"
                },
                "semestre": {
                    "type": "integer"
                },
                "disciplina": {
                    "type": "string"
                },
                "faltas": {
                    "type": "integer"
                }
            },
            "example": {
                "cursoId": 365,
                "ano": 2016,
                "semestre": 2,
                "disciplina": "TCC I",
                "faltas": 4
            }
        },
        "Nota": {
            "type": "object",
            "properties": {
                "cursoId": {
                    "type": "string"
                },
                "ano": {
                    "type": "integer"
                },
                "semestre": {
                    "type": "integer"
                },
                "disciplina": {
                    "type": "string"
                },
                "conceito": {
                    "type": "string"
                },
                "parciais": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Parciais"
                    }
                }
            },
            "example": {
                "cursoId": 365,
                "ano": 2014,
                "semestre": 2,
                "disciplina": "Gerência de Projetos",
                "conceito": "B",
                "parciais": [
                    {
                        "descricao": "Liderança",
                        "ordemParcial": 1,
                        "valorAvaliacaoParcial": "B"
                    }
                ]
            }
        },
        "Parciais": {
            "type": "object",
            "properties": {
                "descricao": {
                    "type": "string"
                },
                "ordemParcial": {
                    "type": "integer"
                },
                "valorAvaliacaoParcial": {
                    "type": "string"
                }
            },
            "example": {
                "descricao": "Liderança",
                "ordemParcial": 1,
                "valorAvaliacaoParcial": "B"
            }
        }
    }
}